*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.form-container{
    background-color: #a8e063;
    align-items: center;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    transition-duration: 1s;
}